@*
  
*@
@{
}

@*view dosyaları cshtml uzantılı dosyalardır ->razor teknolojisi ->html ve c#'in tek bir dosya üzerinde kullanılması*@
@*razor->mvc teknolojisine özel, viewın kodlanması için geliştirilmiş bir teknolojidir. *@


<h3>Tüm Ürünler</h3>